.cropper {
  position: fixed;
  top: 0;
  left: 0;
  z-index:99999;
  font-size: 16px;
  overflow:hidden
}
.cropper-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color:#333;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  overflow:hidden
}
.cropper-container.translateY {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
}
.cropper-img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*transform: scale(2,2);*/
}
.cropper-btn {
  width: 100%;
  height: 3.12em;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.cropper-btn a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 3.12em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 1em;
  outline: none;
}
.cropper-btn a:active {
  opacity: 0.8;
}
.cropper-btn-cancel {
  margin-left: 1em;
}
.cropper-btn-ok {
  margin-right: 1em;
  float: right;
}
.cropper-view {
  position: absolute;
  top: 50%;
  left: 50%;
  outline: rgba(0,0,0,0.5) solid 10000px;
}
.cropper-anime {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.cropper-anime-middle {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.cropper-canvas {
  /*display: none;*/
}